.container {
  width: 660px;
  margin: 20px;
}
.cities {
  width: 60%;
  font-size: 13px;
  padding-bottom: 15px;
  color: #023645;
}
.lisb {
  padding-right: 0px;
  text-decoration: underline;
}
.par,
.syd,
.san {
  padding-right: 0px;
  padding-left: 0px;
}
.enter {
  width: 350px;
  border-radius: 5px;
}
.search-button:hover {
  opacity: 40%;
}

.current-button {
  background-color: rgb(125, 124, 124);
  border-color: rgb(125, 124, 124);
}

.current-button:hover {
  opacity: 40%;
}

.now-weather {
  padding: 15px 0px;
}

h1 {
  font-size: 52px;
}

.dates {
  padding-left: 54px;
}
.col1,
.col2,
.col3,
.col4 {
  width: 18%;
  text-align: left;
  text-align: center;
  font-size: 13px;
}
.rain-icon {
  color: rgb(25, 25, 196);
}
.weather-icon {
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

.units {
  position: relative;
  top: -34px;
}
